# Node.js / TypeScript
node_modules/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local

# Editor / OS
.DS_Store
.idea/
.vscode/

# Temporary files
tmp/
*.tmp